{% extends "account/base.html" %}

{% load i18n %}
<!-- {% load account socialaccount %} -->
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h2>{% trans "Sign In" %}</h2>

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% for field in form %}
    {% if field.name == 'remember' %}
      <!-- continue -->
    {% else %}
      <div class="form-group">
          {{ field.errors }}
          {{ field.label_tag }} {{ field|add_class:"form-control" }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary float-right" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
